.readMore {
  margin: 3rem auto 1.8rem auto;
  @apply w-20;
}

.link {
  @apply text-base
    font-bold
    pb-1
    border-b-2
    border-gray-800
    hover:text-gray-500
    hover:border-gray-500;
}
